/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* PARTIALS */
/* GLOBAL LAYOUT */
/* line 3, ../sass/_layout.scss */
html, body {
  height: 100%;
  margin: 0;
}

/* line 8, ../sass/_layout.scss */
body {
  position: relative;
  margin-top: auto;
}

/* HEADER LAYOUT */
/* line 15, ../sass/_layout.scss */
.navbar {
  border-radius: 0;
  border: 0;
}

/* line 21, ../sass/_layout.scss */
header .navbar {
  padding: 15px 25px;
}
/* line 24, ../sass/_layout.scss */
header .navbar-default {
  background-color: transparent;
  border: none;
}
/* line 28, ../sass/_layout.scss */
header .navbar-default .navbar-nav a {
  color: white;
  padding: 5px auto;
}
/* line 32, ../sass/_layout.scss */
header .navbar-default .navbar-nav a:hover {
  color: yellow;
}
/* line 35, ../sass/_layout.scss */
header .navbar-default .navbar-nav a:active {
  font-weight: 700;
  color: palevioletred;
  background: transparent;
  border-bottom: 4px solid white;
}

/* line 46, ../sass/_layout.scss */
header .navbar-brand {
  background: url(../imgs/GC-LOGO-100.png);
  background-repeat: no-repeat;
  background-position: 15px 0;
  background-size: contain;
  height: auto;
}

/* MAIN LOGO LAYOUT */
/* line 57, ../sass/_layout.scss */
.main-logo-container {
  width: 100%;
  min-height: 100%;
  background: url(../imgs/gc-main-logo.png) center center no-repeat;
  background-color: #D8305D;
  padding-bottom: 50px;
  padding-top: 50px;
  /*     .logo-big {
          margin-left: auto;
          margin-right: auto;
          display: block;
      } */
}

/* MAIN ABOUT LAYOUT */
/* line 73, ../sass/_layout.scss */
.main-about-container {
  width: 100%;
  min-height: 100%;
  background-color: #736B02;
  padding-bottom: 50px;
  padding-top: 50px;
}

/* MAIN SERVICES LAYOUT */
/* line 83, ../sass/_layout.scss */
.main-article-container {
  width: 100%;
  min-height: 100%;
  background-color: #white;
  padding-bottom: 50px;
  padding-top: 50px;
}

/* MAIN PORTFOLIO LAYOUT */
/* line 93, ../sass/_layout.scss */
.main-portfolio-container {
  width: 100%;
  min-height: 100%;
  background-color: #8B0327;
  padding-bottom: 50px;
  padding-top: 50px;
}
/* line 99, ../sass/_layout.scss */
.main-portfolio-container img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 50px;
}

/* MAIN BLOG LAYOUT */
/* line 109, ../sass/_layout.scss */
.main-blog-container {
  width: 100%;
  min-height: 100%;
  background-color: #90583B;
  padding-bottom: 50px;
  padding-top: 50px;
}

/* ARTICLE LAYOUT */
/* line 119, ../sass/_layout.scss */
.webdesign-head {
  width: 400px;
  height: 400px;
  padding: 25px;
  margin: 10px;
  background-color: #ff4c4c;
  border-radius: 50%;
  border: solid 10px #7F1416;
}
/* line 127, ../sass/_layout.scss */
.webdesign-head p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
/* line 133, ../sass/_layout.scss */
.webdesign-head h3 {
  position: relative;
  top: 30%;
  transform: translateY(-70%);
  text-align: center;
}

/* line 141, ../sass/_layout.scss */
.webdev-head {
  width: 400px;
  height: 400px;
  padding: 25px;
  margin: 10px;
  background-color: #ff6666;
  border-radius: 50%;
  border: solid 10px #7F1416;
}
/* line 149, ../sass/_layout.scss */
.webdev-head p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
/* line 155, ../sass/_layout.scss */
.webdev-head h3 {
  position: relative;
  top: 30%;
  transform: translateY(-70%);
  text-align: center;
}

/* line 163, ../sass/_layout.scss */
.consult-head {
  width: 400px;
  height: 400px;
  padding: 25px;
  margin: 10px;
  background-color: #ff7f7f;
  border-radius: 50%;
  border: solid 10px #7F1416;
}
/* line 171, ../sass/_layout.scss */
.consult-head p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
/* line 177, ../sass/_layout.scss */
.consult-head h3 {
  position: relative;
  top: 30%;
  transform: translateY(-70%);
  text-align: center;
}

/* line 185, ../sass/_layout.scss */
.blogger-head {
  width: 400px;
  height: 400px;
  padding: 25px;
  margin: 10px;
  background-color: #ff9999;
  border-radius: 50%;
  border: solid 10px #7F1416;
}
/* line 193, ../sass/_layout.scss */
.blogger-head p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
/* line 199, ../sass/_layout.scss */
.blogger-head h3 {
  position: relative;
  top: 30%;
  transform: translateY(-70%);
  text-align: center;
}

/* FOOTER LAYOUT */
/* line 211, ../sass/_layout.scss */
footer {
  padding-top: 50px;
  width: auto;
  padding: 150px;
  background: #590209;
}
/* line 216, ../sass/_layout.scss */
footer .navbar-default {
  background: transparent;
}

/* OTHER LAYOUT STYLES */
/* IMPORT FONTS */
@font-face {
  font-family: "JosefinSans";
  src: font-file("fonts/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: "Lato";
  src: font-file("fonts/Lato-Regular.ttf");
}
/* HEADER TYPE */
/* line 10, ../sass/_type.scss */
header .navbar-brand h1 {
  color: rosybrown;
  margin: 0;
  font-size: 1.8em;
  font-weight: 400;
  padding-left: 70px;
}

/* BODY TYPE */
/* line 22, ../sass/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "JosefinSans", sans-serif;
  font-weight: 100;
  margin: 0;
}

/* line 28, ../sass/_type.scss */
h2, h3 {
  text-align: center;
  padding-top: auto;
}

/* line 33, ../sass/_type.scss */
body {
  font-family: "Lato" sans-serif;
}

/* line 38, ../sass/_type.scss */
main h2 {
  font-size: 1.8em;
  text-align: center;
}
/* line 42, ../sass/_type.scss */
main p {
  font-size: 1.08em;
  text-align: center;
  padding-top: 15px;
}

/* line 51, ../sass/_type.scss */
article .main-article h2 {
  margin-top: 15px;
}

/* line 58, ../sass/_type.scss */
article h3 {
  font-size: 1.4em;
}
/* line 61, ../sass/_type.scss */
article p {
  font-size: 1.08em;
}

/* line 67, ../sass/_type.scss */
.main-portfolio-container h2 {
  color: white;
}

/* FOOTER TYPE */
/* line 75, ../sass/_type.scss */
footer p {
  color: white;
}
/* line 78, ../sass/_type.scss */
footer a {
  color: white;
}

/* OTHER TYPE */
