/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* PARTIALS */
/* GLOBAL LAYOUT */
/* HEADER LAYOUT */
/* line 5, ../sass/_layout.scss */
.navbar {
  border-radius: 0;
  border: 0;
}

/* line 11, ../sass/_layout.scss */
header .navbar {
  padding: 15px;
}
/* line 14, ../sass/_layout.scss */
header .navbar-default {
  background-color: #90583B;
  border: none;
}
/* line 18, ../sass/_layout.scss */
header .navbar-default .navbar-nav a {
  color: white;
  padding: 5px auto;
}

/* MAIN LOGO LAYOUT */
/* line 28, ../sass/_layout.scss */
.main-logo-container {
  width: 100%;
  height: 778px;
  background-color: #D8305D;
  padding-bottom: 50px;
  padding-top: 50px;
}
/* line 34, ../sass/_layout.scss */
.main-logo-container img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 50px;
}

/* MAIN ABOUT LAYOUT */
/* line 44, ../sass/_layout.scss */
.main-about-container {
  width: 100%;
  height: 778px;
  background-color: #736B02;
  padding-bottom: 50px;
  padding-top: 50px;
}
/* line 50, ../sass/_layout.scss */
.main-about-container img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 50px;
}

/* MAIN SERVICES LAYOUT */
/* line 60, ../sass/_layout.scss */
.main-article-container {
  width: 100%;
  height: 778px;
  background-color: #white;
  padding-bottom: 50px;
  padding-top: 50px;
}
/* line 66, ../sass/_layout.scss */
.main-article-container img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 50px;
}

/* MAIN PORTFOLIO LAYOUT */
/* line 76, ../sass/_layout.scss */
.main-portfolio-container {
  width: 100%;
  height: 100%;
  background-color: #8B0327;
  padding-bottom: 50px;
  padding-top: 50px;
}
/* line 82, ../sass/_layout.scss */
.main-portfolio-container img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 50px;
}

/* MAIN BLOG LAYOUT */
/* line 92, ../sass/_layout.scss */
.main-blog-container {
  width: 100%;
  height: 100%;
  background-color: #90583B;
  padding-bottom: 50px;
  padding-top: 50px;
}
/* line 98, ../sass/_layout.scss */
.main-blog-container img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 50px;
}

/* ARTICLE LAYOUT */
/* line 108, ../sass/_layout.scss */
.webdesign-head {
  width: 400px;
  height: 400px;
  padding: 25px;
  margin: 10px;
  background-color: #ff4c4c;
  border-radius: 50%;
  border: solid 10px #7F1416;
}
/* line 116, ../sass/_layout.scss */
.webdesign-head p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
/* line 122, ../sass/_layout.scss */
.webdesign-head h3 {
  position: relative;
  top: 30%;
  transform: translateY(-70%);
  text-align: center;
}

/* line 130, ../sass/_layout.scss */
.webdev-head {
  width: 400px;
  height: 400px;
  padding: 25px;
  margin: 10px;
  background-color: #ff6666;
  border-radius: 50%;
  border: solid 10px #7F1416;
}
/* line 138, ../sass/_layout.scss */
.webdev-head p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
/* line 144, ../sass/_layout.scss */
.webdev-head h3 {
  position: relative;
  top: 30%;
  transform: translateY(-70%);
  text-align: center;
}

/* line 152, ../sass/_layout.scss */
.consult-head {
  width: 400px;
  height: 400px;
  padding: 25px;
  margin: 10px;
  background-color: #ff7f7f;
  border-radius: 50%;
  border: solid 10px #7F1416;
}
/* line 160, ../sass/_layout.scss */
.consult-head p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
/* line 166, ../sass/_layout.scss */
.consult-head h3 {
  position: relative;
  top: 30%;
  transform: translateY(-70%);
  text-align: center;
}

/* line 174, ../sass/_layout.scss */
.blogger-head {
  width: 400px;
  height: 400px;
  padding: 25px;
  margin: 10px;
  background-color: #ff9999;
  border-radius: 50%;
  border: solid 10px #7F1416;
}
/* line 182, ../sass/_layout.scss */
.blogger-head p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
/* line 188, ../sass/_layout.scss */
.blogger-head h3 {
  position: relative;
  top: 30%;
  transform: translateY(-70%);
  text-align: center;
}

/* FOOTER LAYOUT */
/* line 200, ../sass/_layout.scss */
footer {
  padding-top: 50px;
  width: auto;
  padding: 150px;
  background: #590209;
}
/* line 205, ../sass/_layout.scss */
footer .navbar-default {
  background: transparent;
}

/* OTHER LAYOUT STYLES */
/* IMPORT FONTS */
@font-face {
  font-family: "JosefinSans";
  src: font-file("fonts/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: "Lato";
  src: font-file("fonts/Lato-Regular.ttf");
}
/* HEADER TYPE */
/* line 10, ../sass/_type.scss */
.navbar-default .navbar-brand a {
  color: white;
}

/* BODY TYPE */
/* line 18, ../sass/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "JosefinSans", sans-serif;
  font-weight: 100;
  margin: 0;
}

/* line 24, ../sass/_type.scss */
h2, h3 {
  text-align: center;
  padding-top: auto;
}

/* line 29, ../sass/_type.scss */
body {
  font-family: "Lato" sans-serif;
}

/* line 34, ../sass/_type.scss */
main h2 {
  font-size: 1.8em;
  text-align: center;
}
/* line 38, ../sass/_type.scss */
main p {
  font-size: 1.08em;
  text-align: center;
  padding-top: 15px;
}

/* line 47, ../sass/_type.scss */
article .main-article h2 {
  margin-top: 15px;
}

/* line 54, ../sass/_type.scss */
article h3 {
  font-size: 1.4em;
}
/* line 57, ../sass/_type.scss */
article p {
  font-size: 1.08em;
}

/* line 63, ../sass/_type.scss */
.main-portfolio-container h2 {
  color: white;
}

/* FOOTER TYPE */
/* line 71, ../sass/_type.scss */
footer p {
  color: white;
}
/* line 74, ../sass/_type.scss */
footer a {
  color: white;
}

/* OTHER TYPE */
