/* GLOBAL LAYOUT */

/* HEADER LAYOUT */

.navbar {
    border-radius: 0;
    border: 0;
}

/* NAV LAYOUT */

/* ARTICLE LAYOUT */

/* SECTION LAYOUT */

/* FOOTER LAYOUT */

footer {
    .navbar-default {
        background: transparent;
    }
}

/* OTHER LAYOUT STYLES */
