/* IMPORT FONTS */

@include font-face("Lato", font-file("fonts/Lato-Regular.ttf"));

/* HEADER TYPE */


/* BODY TYPE */

body {
    font-family: "Lato";
}

article {
    h3 {
        font-size: 1.4em;
    }
    p {
        font-size: 1.08em;
    }
}

/* FOOTER TYPE */

/* OTHER TYPE */
